body {
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/998c1c50-6aaa-4795-ab62-9190a025d529/b9883521-f439-4c16-b5eb-b1719e2fece1/ZA-en-20191203-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    height: 100%;
    width: 100%;
  }

#flix {
    color: red;
}

#container {
    background-color: rgba(0, 0, 0, 0.4);
    width: 80%;
    color: white;
    margin: auto ;
    text-align: center;
    padding: 20px;
}

#survey-form {
    text-align: left;
    width: 45%; 
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    padding: 30px;
}

.box {
    width: 90%;
    height: 40px;
}

p {
    font-size: 16pt;
}

h1 {
    font-size: 36pt;
    font-family: 'Bowlby One SC', cursive;
}

#submit {
    background-color: red;
    color: white;
    /* border: 8px solid white; */
    padding: 6px;
    border-radius: 16px;
    width: 100px;
    height: 40px;
    margin-left: 150px;
}